.card {
  margin: 20px;
  width: 18rem;
  background-color: rgb(214, 214, 214);
  background:url("https://i.ibb.co/ZWR3P7R/Cumulonimbo-SE-de-Caracas.jpg");
  border: 1px solid black;
  color:rgb(255, 255, 255);
}

.card-title {
  margin-bottom: 15px;
}

#closeIcon {
  display: flex;
  justify-content: flex-end;
  margin-right: 8px;
  margin-top: 8px;
  
}

.card-body {
  margin-top: 0px !important;
  padding-top: 0px !important;
}
.img-card{
  background-color: rgb(253, 253, 253);
  border-radius: 100%;
}
.btn-card{
  margin-bottom: 10px;
}